html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: #222226;
  font-size: 12px;
  font-family: "Microsoft YaHei";
  background: #fff;
}
html > #app,
body > #app {
  height: 100%;
}
input,
textarea {
  font-size: 12px;
  font-family: "Microsoft Yahei";
  color: #888888;
  outline: medium;
}
::-webkit-scrollbar-track-piece {
  background-color: #F1F1F1;
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #d8d8d9;
  border-radius: 10px;
  outline: none;
}
::-webkit-scrollbar-thumb:hover {
  height: 50px;
  background-color: #c2c2c2;
  border-radius: 10px;
}
.content-block {
  width: 100%;
  padding: 0 5%;
  background: #fff;
  box-sizing: border-box;
}
.content-block .content-title {
  font-size: 18px;
  color: #222226;
  letter-spacing: 1px;
  text-align: center;
  line-height: 22px;
  font-weight: bolder;
}
.content-block .content-introduce {
  width: 80%;
  margin: auto;
  font-size: 12px;
  color: #888888;
  letter-spacing: 0.69px;
  text-align: center;
  line-height: 20px;
}
.note-box .note-area {
  width: 330px;
  height: 600px;
}
